h1{
    background-color: #F2E8C9;
    font-weight: bold;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px;
    border-radius: 10px
}

img{
    border: 1px ;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    padding: 5px;
    text-align: center;
}

p{
    border: 1px;
    border-radius: 20px;
    text-align: left;
}

body{
    background: #c7b39b;
}

#a1{
    text-align: left;
    left: 200px;
}

#a2{
    text-align: left;
}

.topleft {
    position: absolute;
    top: 280px;
    left: 50px;
    font-size: 18px;
    font-weight: bold;
}

.topright {
    position: absolute;
    top: 330px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
    color:wheat;
}

.bottomleft {
    position: absolute;
    top: 735px;
    left: 75px;
    font-size: 18px;
    font-weight: bold;
}

.brostop{
    border-radius: 10px;
    border: 18px;
    color:black;
    background:white;
    font-size: 16px;
    text-decoration: none;
}

.img_str_1{
    position: absolute;
    text-align: center;
    width: 800px;
    height: 800px;
    left: 100px;
}

.img_str_11{
    position: absolute;
    text-align: center;
    width: 600px;
    height: 600px;
    left: 100px;
}

#privet{
    position: absolute;
    left: 950px;
    top: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#privet1{
    position: absolute;
    left: 950px;
    top: 155px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}

#poka{
    position: absolute;
    left: 750px;
    top: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

#poka1{
    position: absolute;
    left: 750px;
    top: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

}

table{
    margin: auto;
    border: 2px solid #F2E8C9;
    border-radius: 10px;
    background-color: #F2E8C9;
}

tr{
    text-align: center;
}

a:hover{
    transition: 0.3s;
    background-color: #c7b39b;
}

.momlook{
    background-color: #F2E8C9;
    position: absolute;
    color: black;
    border: 1px solid #c7b39b;
    border-radius: 10px;
    top: 100px;
    right: 8px;
}

a{
    text-decoration: none;
    color: black;
}

.ogo{
    text-align: center;
}

li{
    list-style: square;
}