h1{
    background-color: #F2E8C9;
    font-weight: bold;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px;
    border-radius: 10px
}

img{
    border: 1px ;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    padding: 5px;
    text-align: center;
}

p{
    border: 1px;
    border-radius: 20px;
    text-align: left;
}

body{
    background: #c7b39b;
}

#a1{
    text-align: left;
}

#a2{
    text-align: right;
}

.topleft {
    position: absolute;
    top: 280px;
    left: 50px;
    font-size: 18px;
    font-weight: bold;
}

.topright {
    position: absolute;
    top: 330px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
    color:wheat;
}

.bottomleft {
    position: absolute;
    top: 735px;
    left: 75px;
    font-size: 18px;
    font-weight: bold;
}

.brostop{
    border-radius: 10px;
    border: 15px;
    color:black;
    background:white;
    font-size: 14px;
}

.img_str_1{
    position: absolute;
    text-align: center;
    width: 800px;
    height: 800px;
    left: 100px;
}

.img_str_11{
    position: absolute;
    text-align: center;
    width: 600px;
    height: 600px;
    left: 100px;
}

#privet{
    position: absolute;
    left: 950px;
    top: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#privet1{
    position: absolute;
    left: 950px;
    top: 155px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}

#poka{
    position: absolute;
    left: 750px;
    top: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

#poka1{
    position: absolute;
    left: 750px;
    top: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

}